.element__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Like\ Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  margin: 30px 20px 30px 0;
  border: 0;
  cursor: pointer;
}
.element__like-button:hover {
  opacity: 0.5;
}

.element__like-button:active {
  color: black;
}
