.element__like-button {
    background-image: url(../../../images/Like\ Icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FFFFFF;
    width: 22px;
    height: 19px;
    margin-right: 20px;
    border: none;
}
.element__like-button:hover {
    opacity: 0.6;
}

.element__like-button:active {
  color: black;
  }