.popup__name {
    margin: 0 auto;
    width: 100%;
    margin-top: 54px;
    padding: 0;
    padding-bottom: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
    border: 0;
    border-bottom: 1px solid  rgba(0, 0, 0, .2);
    border-radius: 2px;
}
.popup__name:focus { 
    outline: none !important;
    box-shadow:0 0 5px #4670d0;
 }