.elements {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 900px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    max-width: 582px;
  }
}
@media screen and (max-width: 700px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    max-width: 282px;
    margin-top: 36px;
  }
}
