.popup__close-button {
  background-image: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}
.popup__close-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 700px) {
  .popup__close-button {
    background-size: 20px;
    right: 0;
  }
}
